<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Add Bookmark</title>
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
   </head>
   <body class="container">
      <form class="pt-4" action="{{ url_for('add_bookmark') }}" method="POST">
         <h3>Add Bookmark</h3>
         <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" autofocus>
         </div>
         <div class="form-group">
            <label for="url">URL:</label>
            <input type="text" class="form-control" id="url" name="url" required>
         </div>
         <div class="form-group">
            <label for="folder">Folder:</label>
            <input type="text" class="form-control" id="folder" name="folder" value="toolbar" required>
         </div>
         <div class="alert alert-secondary">
            <strong>Note:</strong> Folder paths can be separated with '/' — <em>e.g. toolbar/foo/bar</em>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {{ status or '' }}
   </body>
</html>
